dist
.terraform
src/__generated__/*
package-lock.json
node_modules
coverage
*.zip
*.log
.DS_Store
.env
.serverless
.build
*.tsbuildinfo
serverless-output.json
.esbuild
.turbo
*.config*.js
.eslintrc.js
