{
  "branches": ["main"],
  "tagFormat": "${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "pnpm-lock.yaml"]
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [],
        "failComment": false,
        "failTitle": false,
        "labels": false,
        "releasedLabels": false
      }
    ],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": false,
        "markdownReleaseNotes": true
      }
    ]
  ]
}
